.dropdown-menu {
    position: relative;
    cursor: pointer;
}


.dropdown-content {
    visibility: hidden;
    min-width: inherit;
    opacity: 0;
    transition: visibility 0.15s linear, opacity 0.15s linear;
    position: absolute;
    top: 125%;
    right: 10%;
    box-shadow: 0 4px 10px #00000008, 0 0 2px #0000000f, 0 2px 6px #0000001f;
    border-radius: 6px;
    background-color: white;
    width: auto;
    padding: 6px 0px;
    display: flex;
    flex-direction: column;

    &.active {
        visibility: visible;
        opacity: 1;
    }

    a {
        padding: 6px 14px;
        color: #4b5563;
        text-decoration: none;

        &:hover {
            background-color: #f3f4f6;
        }

        &.active {
            background-color: rgba(59, 130, 246, 0.24);
            color: #1d4ed8;
        }
    }
}

::ng-deep .dropdown-content a {
    padding: 6px 14px;
    color: #4b5563;
    text-decoration: none;
    display: flex;

    &:hover {
        background-color: #f3f4f6;
    }

    &.active {
        background-color: rgba(59, 130, 246, 0.24);
        color: #1d4ed8;
    }
}