.header {
    padding: 6px;
    border-bottom: 2px solid var(--stroke-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 3;
    background-color: white;
    width: calc(100% - 85px);
    height: 40px;

    .header-left-group {
        display: flex;
        align-items: center;
        gap: 12px;
        width: fit-content;
    }

    .header-right-group {
        color: #000;
        display: flex;
        align-items: center;
        gap: 12px;

        .profile-group {
            display: flex;
            align-items: center;

            img {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }

    .icon {
        color: var(--text-color);
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .notification {
        font-size: 22px;
    }
}

@media only screen and (max-width: 699px) {
    .header {
        width: 100%;
    }
}