<header class="header">
    <div class="header-left-group">
        <mat-icon (click)="emitClick()" class="icon" fontIcon="menu"></mat-icon>
        <h3>Expense Tracker App</h3>
    </div>

    <div class="header-right-group">
        <mat-icon class="icon notification" fontIcon="notifications"></mat-icon>

        <dropdown-menu>
            <div dropdown-display class="profile-group">
                <img src="/profile.jpg">
                <mat-icon class="icon" fontIcon="keyboard_arrow_down"></mat-icon>
            </div>

            <a dropdown-item> <mat-icon class="icon" fontIcon="person"></mat-icon> Profile</a>
            <a dropdown-item> <mat-icon class="icon" fontIcon="logout"></mat-icon> Logout</a>
        </dropdown-menu>

    </div>
</header>