<div class="table-responsive">
    <table class="w-full border-[1px] border-[#ccc]">
        <thead>
            @for (item of tableHeaders; track $index) {
            @if (item.sort == true) {
            <th [class.text-end]="item.align == 'right'" [sortValue]="item.property" (sort)="onSort($event)"><a
                    class="sort-by"> {{item.name}}
                </a></th>
            }
            @else {
            <th [class.text-end]="item.align == 'right'" class="border-[1px] border-[#ccc]">
                {{item.name}}</th>
            }
            }
            @if (actions.length > 0) {
            <th class="border-[1px] border-[#ccc]">Action</th>
            }

        </thead>
        @if(tableData.length > 0) {
        <tbody>
            @for (data of tableData; track $index; let rowIndex = $index) {
            <tr>
                @for (header of tableHeaders; track $index;) {
                <td [class.text-end]="header.align == 'right'" class="border-[1px] border-[#ccc]">
                    @if (header.property == 'sn') {
                    {{rowIndex + 1}}
                    }
                    @else if(header.status == true) {
                        @if(data[header.property] == true) {
                            <span class="status active">Active</span>
                        }
                        @else {
                            <span class="status inactive">Inactive</span>
                        }
                    <span></span>
                    }
                    @else {
                    {{ header.amount ? (data[header.property] | amount ) : data[header.property] }}
                    }
                </td>
                }
                <td class="border-[1px] border-[#ccc]">
                    <mat-icon>edit</mat-icon>
                    <mat-icon>delete</mat-icon>
                </td>
            </tr>
            }

        </tbody>
        } @else {
        <tbody>
            <tr>
                <td class="no-data" [attr.colspan]="tableHeaders.length + 1">
                    <h3>No Data</h3>
                    <p>No Records Found...</p>
                </td>
            </tr>
        </tbody>
        }

    </table>
</div>