.sort-by {
    position: relative;
    padding-right: 18px;
    cursor: pointer;

    &:before,
    &:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid;
        position: absolute;
        right: 5px;
        color: #bcbdbe;
        right: 4px;
    }

    &:after {
        transform: rotate(180deg);
        margin-top: -8px;
    }

    &:before {
        margin-top: 2px;
    }

    &.asc:before,
    &.desc:after {
        color: black;
    }

    &.asc:after,
    &.desc:before {
        color: #bcbdbe;
    }

    &.none:before,
    &.none:after {
        color: #bcbdbe;
    }
}

.table-responsive {
    overflow: auto;
    width: 100%;
    height: calc(100vh - 150px);
    border: 1px solid #CED4DA;
    border-radius: 4px;
    padding: 0;
    border-collapse: collapse;
    margin-top: 12px;
}

table {
    width: 100%;
    border-collapse: collapse;

    thead {
        position: sticky;
        top: 0;
    }

    th {
        background: #F7F7F7;
    }

    th,
    td {
        padding: 6px;
        border: 1px solid #CED4DA;
        text-align: left;
        font-size: 14px;
        white-space: nowrap;
    }
}

.text-end {
    text-align: right !important;
}

.status {
    padding: 4px;
    border-radius: 4px;
    color: white;

    &.active {
        background-color: green;
    }

    &.inactive {
        background-color: red;
    }
}

.no-data {
    padding: 48px 0px !important;
    text-align: center !important;
    width: 100%;
    height: 100%;

    p {
        color: rgba(51, 51, 51, 0.5);
        font-size: 14px;
        line-height: 21px;
    }
}