@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import "@ng-select/ng-select/themes/default.theme.css";
@import 'ngx-toastr/toastr';

@import "scss/_colors";
@import "scss/_button";
@import "scss/_modal";
@import "scss/_bootstrap";
@import "scss/_form";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans Display", sans-serif;

}

.feature-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-size: 18px;
    line-height: 1.75;
  }
}

.export-section {
  display: flex;
  gap: 12px;
}

.mat-mdc-dialog-surface {
  border-radius: 0px !important;
}

.ng-select {
    min-height: 0px;
    height: 29px !important;
}

.ng-select .ng-select-container {
    min-height: 0px;
    height: 29px !important;
    border-radius: 4px;
}