:root {
    --primary-color: #009654;
    --primary-color-alt: #004b2a;
    --text-color: #292929;
    --stroke-color: #ccc;
    --text-color-alt: #4b5563;
    --white-color: #fff;
    --label-color: #666666; 
    --placeholder-color: #999;
}