.form-group {
    display: flex;
    flex-direction: column;
    padding: 0 12px;
    margin-bottom: 24px;
    justify-content: space-between;
    gap: 6px;
    margin-bottom: 24px 0;

    label {
        font-size: 13px;
        line-height: 22px;
        color: var(--label-color);
    }

    .form-control {
        padding: 6px;
        border: 1px solid var(--stroke-color);
        background-color: var(--white-color);
        color: var(--text-color);
        border-radius: 3.2px;
        border: 1.5px solid rgba(226, 232, 240, 1);
        flex-grow: 1;
        outline: none;

        ::placeholder {
            color: var(--placeholder-text-color);
        }

        &.readonly {
            background-color: var(--disabled-color);
        }
    }

    textarea.form-control {
      height: 50px;
    }
}

.invalid {
    font-size: 11px;
    color: #BB2124;
}


.switch {
  position: relative;
  display: inline-block;
  width: 36px;   /* 60 × 0.6 */
  height: 20px;  /* 34 × 0.6 */
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;  /* 26 × 0.6 */
  width: 16px;   /* 26 × 0.6 */
  left: 2px;     /* adjusted from 4px */
  bottom: 2px;   /* adjusted from 4px */
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider:before {
  transform: translateX(16px); /* 26 × 0.6 */
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px; /* 34 × 0.6 ≈ 20 */
}

.slider.round:before {
  border-radius: 50%;
}
