.modal {
    .modal-header {
        padding: 8px 12px;
        width: 100%;
        display: flex;
        font-size: 16px;
        align-items: center;
        justify-content: space-between;
        background: rgba(12, 64, 140, 0.05);
        border-bottom: 1px solid rgba(206, 212, 218, 0.5);

        .modal-title {
            font-size: 16px;
            color: #666666;
        }

        .dialog-icon {
            cursor: pointer;
        }
    }

    .modal-body {
        padding: 16px;
    }

    .modal-footer {
        padding: 8px;
        display: flex;
        gap: 8px;
        justify-content: flex-end;
        align-items: center;
        background: #FAFAFA;
        border-top: 1px solid rgba(206, 212, 218, 0.5);
    }
}